body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://iili.io/3KsyMqQ.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  background-color: rgb(238, 238, 238); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}